body {  ;
	background-image: url (images/1.jpeg) ;
	background-attachment: fixed;
}
h1 {font-size: 120%; 
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    color: #333366;
}
h2 {font-size: 100%; 
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    color: #58FAAC;
}

p {
	color: #0A122A
}
cite { font-style: oblique;
 	font-family: cursive ;
 	color: #3B240B ;
}	